.error {
    background: rgb(253, 137, 137);
    z-index: 1;
}

.error img {
    width: 200px;
    height: 200px;
    filter: invert(89%) sepia(27%) saturate(3136%) hue-rotate(230deg) brightness(99%) contrast(105%);
}

.error .content {
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.error .message {
    background: rgb(255, 248, 123);
    border-radius: 5px;
    padding: 1rem;
    border: none;
}