.start {
  background: rgb(241, 192, 192);
  z-index: 2;
}

.start .logo {
  background: rgb(248, 231, 231);
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

.start .instructions::before {
  background: rgb(245, 128, 143);
  color: azure;
  display: inline-block;
  content: "!";
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  border-radius: 50%;
  text-align: center;
  margin-right: 0.5rem;
}
